# Created by .ignore support plugin (hsz.mobi)
node_modules
npm-debug.log

dist/
package-lock.json

.eslintcache

# Diagnostic reports (https://nodejs.org/api/report.html) 
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json